form {
    display: flex;
    flex-direction: column;
    align-items: center;
}




    form label {
        font-family: Roboto;
        font-weight: 600;
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 10px;
    }
    form input {
        width: 60%;
        background-color: #cdcff7;
        font-family: Rubik;
        font-size: 20px;
        font-weight: 600;
        color: black;
    }
    form textarea {
        width: 60%;
        resize: none;
        font-family: Arial;
        background-color: #cdcff7;
        color: black;
    }

    form button {
        margin: 0 10px 30px 10px;
    }
    .green{
        background-color:green;
    }
        .green:hover {
            color: darkgreen;
            transform: scale(1.05);
            border-color: darkgreen;
        }
.red {
    background-color: darkred;

}

    .red:hover {
        color: crimson;
        transform: scale(1.05);
        border-color: crimson;
    }
